In [2]:
import os
from dotenv import load_dotenv

load_dotenv()
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")

### CommaSeparatedListOutputParser

In [ ]:
from langchain_core.output_parsers import CommaSeparatedListOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_openai import ChatOpenAI
import csv
from pprint import pprint

# ì½¤ë§ˆë¡œ êµ¬ë¶„ëœ ë¦¬ìŠ¤íŠ¸ ì¶œë ¥ íŒŒì„œ ì´ˆê¸°í™”
output_parser = CommaSeparatedListOutputParser()

# ì¶œë ¥ í˜•ì‹ ì§€ì¹¨ ê°€ì ¸ì˜¤ê¸°
format_instructions = output_parser.get_format_instructions()

# í”„ë¡¬í”„íŠ¸ í…œí”Œë¦¿ ì„¤ì •
prompt = PromptTemplate(
    template="List five {subject}.\n{format_instructions}",
    input_variables=["subject"],
    partial_variables={"format_instructions": format_instructions},
)
pprint(prompt)

# OpenAI ëª¨ë¸ ì„¤ì •
#model = ChatOpenAI(temperature=0)
model = ChatOpenAI(
    base_url="https://api.groq.com/openai/v1",  # Groq API ì—”ë“œí¬ì¸íŠ¸
    model="meta-llama/llama-4-scout-17b-16e-instruct",
    temperature=0
)

# í”„ë¡¬í”„íŠ¸, ëª¨ë¸, ì¶œë ¥ íŒŒì„œë¥¼ ì—°ê²°í•˜ì—¬ ì²´ì¸ ìƒì„±
chain = prompt | model | output_parser

# "AI ê´€ë ¨ ê¸°ìˆ "ì— ëŒ€í•œ ì²´ì¸ í˜¸ì¶œ ì‹¤í–‰
result = chain.invoke({"subject": "AI ê´€ë ¨ ê¸°ìˆ "})

# ì‰¼í‘œë¡œ êµ¬ë¶„ëœ ë¦¬ìŠ¤íŠ¸ ì¶œë ¥
print(" AI ê´€ë ¨ ê¸°ìˆ  ëª©ë¡:")
print(result)

# ê²°ê³¼ í™œìš© ì˜ˆì‹œ: CSV íŒŒì¼ë¡œ ì €ì¥
csv_filename = "./data/ai_technologies.csv"
with open(csv_filename, "w", newline="", encoding="utf-8") as file:
    writer = csv.writer(file)
    writer.writerow(["AI ê¸°ìˆ "])  # í—¤ë” ì¶”ê°€
    for item in result:
        writer.writerow([item])

print(f" '{csv_filename}' íŒŒì¼ë¡œ ì €ì¥ ì™„ë£Œ!")

 AI ê´€ë ¨ ê¸°ìˆ  ëª©ë¡:
['Machine Learning', 'Deep Learning', 'Natural Language Processing', 'Computer Vision', 'Robotics']
 'ai_technologies.csv' íŒŒì¼ë¡œ ì €ì¥ ì™„ë£Œ!

### JsonOutputParser

In [4]:
from langchain_core.prompts import ChatPromptTemplate
from langchain_core.output_parsers import JsonOutputParser
from langchain_openai import ChatOpenAI
import json

# JSON ì¶œë ¥ íŒŒì„œ ì´ˆê¸°í™”
parser = JsonOutputParser()

# í”„ë¡¬í”„íŠ¸ í…œí”Œë¦¿ì„ ì„¤ì •í•©ë‹ˆë‹¤.
prompt = ChatPromptTemplate.from_messages(
    [
        ("system", "ë‹¹ì‹ ì€ ê³¼í•™ ë¶„ì•¼ ì „ë¬¸ê°€ AIì…ë‹ˆë‹¤. ì§ˆë¬¸ì— ëŒ€í•´ ì²´ê³„ì ì´ê³  ê°„ê²°í•œ ë‹µë³€ì„ JSON í˜•ì‹ìœ¼ë¡œ ì œê³µí•˜ì„¸ìš”."),
        ("user", "#Format: {format_instructions}\n\n#Question: {question}"),
    ]
)

# JSON ì¶œë ¥ í˜•ì‹ ì§€ì¹¨ì„ í”„ë¡¬í”„íŠ¸ì— ì ìš©
prompt = prompt.partial(format_instructions=parser.get_format_instructions())

# OpenAI ëª¨ë¸ ì„¤ì •
model = ChatOpenAI(
    base_url="https://api.groq.com/openai/v1",  # Groq API ì—”ë“œí¬ì¸íŠ¸
    model="meta-llama/llama-4-scout-17b-16e-instruct",
    temperature=0
)

# í”„ë¡¬í”„íŠ¸, ëª¨ë¸, ì¶œë ¥ íŒŒì„œë¥¼ ì—°ê²°í•˜ëŠ” ì²´ì¸ ìƒì„±
chain = prompt | model | parser

# ì§ˆë¬¸ ì„¤ì • (ìš°ì£¼ íƒì‚¬ ê´€ë ¨ ì§ˆë¬¸)
question = "ìµœê·¼ 10ë…„ê°„ ì§„í–‰ëœ ì£¼ìš” ìš°ì£¼ íƒì‚¬ ë¯¸ì…˜ 3ê°€ì§€ë¥¼ ì•Œë ¤ì£¼ì„¸ìš”. \
ê° ë¯¸ì…˜ì˜ ì´ë¦„ì€ `mission_name`ì—, ëª©í‘œëŠ” `goal`ì—, ì£¼ê´€ ê¸°ê´€ì€ `agency`ì— ë‹´ì•„ ì£¼ì„¸ìš”."

# ì²´ì¸ ì‹¤í–‰ ë° JSON ì‘ë‹µ ë°›ê¸°
response = chain.invoke({"question": question})

# JSON ë°ì´í„° ì¶œë ¥
print(json.dumps(response, indent=4, ensure_ascii=False))

[
    {
        "mission_name": "ë‰´í˜¸ë¼ì´ì¦ŒìŠ¤",
        "goal": "ëª…ì™•ì„± íƒì‚¬",
        "agency": "NASA"
    },
    {
        "mission_name": "ì¹´ì‹œë‹ˆ-í˜¸ì´ê²ìŠ¤",
        "goal": "í† ì„±ì˜ ìœ„ì„± íƒ€ì´íƒ„ íƒì‚¬",
        "agency": "NASA, ESA, ì´íƒˆë¦¬ì•„ ìš°ì£¼êµ­"
    },
    {
        "mission_name": "ì°½ì–´ 4í˜¸",
        "goal": "ë‹¬ì˜ ë’·ë©´ íƒì‚¬",
        "agency": "ì¤‘êµ­ ìš°ì£¼êµ­"
    }
]

### PandasDataFrameOutputParser

In [3]:
import pandas as pd
from langchain.output_parsers import PandasDataFrameOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_openai import ChatOpenAI
import re

# Titanic ë°ì´í„°ì…‹ ë¡œë“œ
df = pd.read_csv('data/titanic.csv')

# Pandas DataFrame Output Parser ì„¤ì •
parser = PandasDataFrameOutputParser(dataframe=df)
# í˜•ì‹ ì§€ì¹¨ ì¶œë ¥
format_instructions = parser.get_format_instructions()
#print("Format Instructions:\n", format_instructions)

In [4]:
# ChatOpenAI ëª¨ë¸ ì´ˆê¸°í™”
model = ChatOpenAI(temperature=0, model_name="gpt-4o")
# model = ChatOpenAI(
#     base_url="https://api.groq.com/openai/v1",  # Groq API ì—”ë“œí¬ì¸íŠ¸
#     model="meta-llama/llama-4-scout-17b-16e-instruct",
#     temperature=0
# )

# í”„ë¡¬í”„íŠ¸ í…œí”Œë¦¿ ì„¤ì •
prompt = PromptTemplate(
    template=""" 
    You are a helpful assistant that interacts with a Pandas DataFrame.
    The DataFrame contains the following columns: {columns}.
    
    Your task is to answer the user's query by generating a command in the following format:
    {format_instructions}
    
    User Query: {query}    
    """,
    input_variables=["query"],
    partial_variables={
        "format_instructions": format_instructions,
        "columns": ", ".join(df.columns)
    },
)
print(prompt.partial_variables['columns'])

Survived, Pclass, Name, Sex, Age, Siblings/Spouses Aboard, Parents/Children Aboard, Fare

In [6]:
# ì²´ì¸ ìƒì„±
chain = prompt | model | parser

# ëª¨ë¸ ì‘ë‹µ ë°›ê¸°
try:
    # **Name ì—´ì„ í‘œì‹œí•˜ì‹­ì‹œì˜¤.**
    print('Name ì»¬ëŸ¼ ì¶œë ¥')
    df_query = "Show the Name column"

    parser_output = chain.invoke({"query": df_query})
    print(type(parser_output))
    print(parser_output)

    # **ì²«ë²ˆì§¸ í–‰ì„ í‘œì‹œí•˜ì‹­ì‹œì˜¤.**
    print('ì²«ë²ˆì§¸ í–‰ ì¶œë ¥')
    df_query2 = "Show first row"

    parser_output2 = chain.invoke({"query": df_query2})
    print(parser_output2)

except Exception as e:
    print(f"ì˜¤ë¥˜ ë°œìƒ: {e}")

Name ì»¬ëŸ¼ ì¶œë ¥
<class 'dict'>
{'Name': 0                                 Mr. Owen Harris Braund
1      Mrs. John Bradley (Florence Briggs Thayer) Cum...
2                                  Miss. Laina Heikkinen
3            Mrs. Jacques Heath (Lily May Peel) Futrelle
4                                Mr. William Henry Allen
                             ...
882                                 Rev. Juozas Montvila
883                          Miss. Margaret Edith Graham
884                       Miss. Catherine Helen Johnston
885                                 Mr. Karl Howell Behr
886                                   Mr. Patrick Dooley
Name: Name, Length: 887, dtype: object}
ì²«ë²ˆì§¸ í–‰ ì¶œë ¥
ì˜¤ë¥˜ ë°œìƒ: Unsupported request type '```
row'.                         Please check the format instructions.
For troubleshooting, visit: https://python.langchain.com/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE

### StructuredOutputParser

In [7]:
import pandas as pd
from langchain.output_parsers import StructuredOutputParser, ResponseSchema
from langchain_core.prompts import PromptTemplate
from langchain_openai import ChatOpenAI

# OpenAI ëª¨ë¸ ì´ˆê¸°í™”
model = ChatOpenAI(temperature=0, model_name="gpt-4o")
# model = ChatOpenAI(
#     base_url="https://api.groq.com/openai/v1",  # Groq API ì—”ë“œí¬ì¸íŠ¸
#     model="meta-llama/llama-4-scout-17b-16e-instruct",
#     temperature=0
# )

# ì‘ë‹µ ìŠ¤í‚¤ë§ˆ ì •ì˜ {data : [{},{},{}] }
response_schemas = [
    ResponseSchema(name="data", description="A list of dictionaries representing table rows."),
]

# Output Parser ì„¤ì •
parser = StructuredOutputParser.from_response_schemas(response_schemas)

# í”„ë¡¬í”„íŠ¸ í…œí”Œë¦¿ ì„¤ì •
prompt = PromptTemplate(
    template="""
    You are an AI assistant that generates tabular data. 
    You must return the data in JSON format that follows this schema:
    
    {format_instructions}
        
    **User Query:**
    {query}
    """,
    input_variables=["query"],
    partial_variables={"format_instructions": parser.get_format_instructions()},
)
print(prompt)

input_variables=['query'] input_types={} partial_variables={'format_instructions': 'The output should be a markdown code snippet formatted in the following schema, including the leading and trailing "```json" and "```":\n\n```json\n{\n\t"data": string  // A list of dictionaries representing table rows.\n}\n```'} template='\n    You are an AI assistant that generates tabular data. \n    You must return the data in JSON format that follows this schema:\n\n    {format_instructions}\n\n    **User Query:**\n    {query}\n    '

In [8]:
# ì²´ì¸ ìƒì„± (í”„ë¡¬í”„íŠ¸ â†’ ëª¨ë¸ â†’ OutputParser)
chain = prompt | model | parser

# ì‹¤í–‰ í•¨ìˆ˜
def generate_dataframe(user_query):
    try:
        # ëª¨ë¸ í˜¸ì¶œ
        json_response = chain.invoke({"query": user_query})
        print(json_response)
        
        # ëª¨ë¸ì´ ë°˜í™˜í•œ JSONì„ Pandas DataFrameìœ¼ë¡œ ë³€í™˜
        df = pd.DataFrame(json_response["data"])

        # ê²°ê³¼ ì¶œë ¥
        print("\nğŸ”¹ Generated DataFrame:\n")
        return df

    except Exception as e:
        print(f"âŒ ì˜¤ë¥˜ ë°œìƒ: {e}")
        return None

In [9]:
# [ì˜ˆì œ 1] 2024ë…„ ìƒë°˜ê¸° ì„œìš¸ ì•„íŒŒíŠ¸ í‰ê·  ë§¤ë§¤ ê°€ê²© ë°ì´í„° ìƒì„±
print('2024ë…„ í•˜ë°˜ê¸° ì„œìš¸ ì•„íŒŒíŠ¸ í‰ê·  ë§¤ë§¤ ê°€ê²© ë°ì´í„° ìƒì„±')
df_seoul_housing = generate_dataframe(
    "Create a dataset of the average apartment sale prices in Seoul for the second half of 2024 with columns: District (êµ¬), Average Price (in KRW), Number of Transactions, and Year-over-Year Change (%)."
)
print(df_seoul_housing.shape)
df_seoul_housing

2024ë…„ í•˜ë°˜ê¸° ì„œìš¸ ì•„íŒŒíŠ¸ í‰ê·  ë§¤ë§¤ ê°€ê²© ë°ì´í„° ìƒì„±
{'data': [{'District': 'Gangnam-gu', 'Average Price': 1500000000, 'Number of Transactions': 1200, 'Year-over-Year Change (%)': 3.5}, {'District': 'Jongno-gu', 'Average Price': 950000000, 'Number of Transactions': 800, 'Year-over-Year Change (%)': 2.1}, {'District': 'Mapo-gu', 'Average Price': 1100000000, 'Number of Transactions': 950, 'Year-over-Year Change (%)': 4.0}, {'District': 'Songpa-gu', 'Average Price': 1300000000, 'Number of Transactions': 1100, 'Year-over-Year Change (%)': 3.8}, {'District': 'Yongsan-gu', 'Average Price': 1400000000, 'Number of Transactions': 700, 'Year-over-Year Change (%)': 2.5}, {'District': 'Seocho-gu', 'Average Price': 1450000000, 'Number of Transactions': 1150, 'Year-over-Year Change (%)': 3.2}, {'District': 'Gwanak-gu', 'Average Price': 800000000, 'Number of Transactions': 900, 'Year-over-Year Change (%)': 1.8}, {'District': 'Dongdaemun-gu', 'Average Price': 750000000, 'Number of Transactions': 850, 'Year-over-Year Change (%)': 2.0}, {'District': 'Seodaemun-gu', 'Average Price': 900000000, 'Number of Transactions': 780, 'Year-over-Year Change (%)': 2.7}, {'District': 'Jung-gu', 'Average Price': 1000000000, 'Number of Transactions': 650, 'Year-over-Year Change (%)': 3.0}]}

ğŸ”¹ Generated DataFrame:

(10, 4)

,District,Average Price,Number of Transactions,Year-over-Year Change (%)
0,Gangnam-gu,1500000000,1200,3.5
1,Jongno-gu,950000000,800,2.1
2,Mapo-gu,1100000000,950,4.0
3,Songpa-gu,1300000000,1100,3.8
4,Yongsan-gu,1400000000,700,2.5
5,Seocho-gu,1450000000,1150,3.2
6,Gwanak-gu,800000000,900,1.8
7,Dongdaemun-gu,750000000,850,2.0
8,Seodaemun-gu,900000000,780,2.7
9,Jung-gu,1000000000,650,3.0

In [10]:
print('2024ë…„ ì„œìš¸ ì§€í•˜ì² ì—­ë³„ ìœ ë™ ì¸êµ¬ ë°ì´í„°')
# [ì˜ˆì œ 2] 2024ë…„ ì„œìš¸ ì§€í•˜ì² ì—­ë³„ ìœ ë™ ì¸êµ¬ ë°ì´í„°
df_seoul_subway = generate_dataframe(
    "Generate a dataset of the top 10 busiest subway stations in Seoul in 2024 with columns: Station Name, Line Number, Daily Passenger Volume, and Weekday vs Weekend Ratio."
)
if df_seoul_subway is not None:
    df_seoul_subway.head()

2024ë…„ ì„œìš¸ ì§€í•˜ì² ì—­ë³„ ìœ ë™ ì¸êµ¬ ë°ì´í„°
{'data': [{'Station Name': 'Gangnam', 'Line Number': 'Line 2', 'Daily Passenger Volume': 150000, 'Weekday vs Weekend Ratio': '3:1'}, {'Station Name': 'Jamsil', 'Line Number': 'Line 2', 'Daily Passenger Volume': 130000, 'Weekday vs Weekend Ratio': '2.8:1'}, {'Station Name': 'Hongdae', 'Line Number': 'Line 2', 'Daily Passenger Volume': 120000, 'Weekday vs Weekend Ratio': '2.5:1'}, {'Station Name': 'Seoul Station', 'Line Number': 'Line 1', 'Daily Passenger Volume': 110000, 'Weekday vs Weekend Ratio': '3.2:1'}, {'Station Name': 'Samseong', 'Line Number': 'Line 2', 'Daily Passenger Volume': 105000, 'Weekday vs Weekend Ratio': '2.9:1'}, {'Station Name': 'Express Bus Terminal', 'Line Number': 'Line 3', 'Daily Passenger Volume': 100000, 'Weekday vs Weekend Ratio': '3:1'}, {'Station Name': 'Yeouido', 'Line Number': 'Line 5', 'Daily Passenger Volume': 95000, 'Weekday vs Weekend Ratio': '2.7:1'}, {'Station Name': 'Myeongdong', 'Line Number': 'Line 4', 'Daily Passenger Volume': 90000, 'Weekday vs Weekend Ratio': '2.6:1'}, {'Station Name': 'Dongdaemun', 'Line Number': 'Line 4', 'Daily Passenger Volume': 85000, 'Weekday vs Weekend Ratio': '2.4:1'}, {'Station Name': 'Gwanghwamun', 'Line Number': 'Line 5', 'Daily Passenger Volume': 80000, 'Weekday vs Weekend Ratio': '2.5:1'}]}

ğŸ”¹ Generated DataFrame:

In [11]:
print('í•œêµ­ 5ëŒ€ í¸ì˜ì  ë¸Œëœë“œë³„ 2024ë…„ ë§¤ì¶œ ë° ì í¬ ìˆ˜')
# [ì˜ˆì œ 3] í•œêµ­ 5ëŒ€ í¸ì˜ì  ë¸Œëœë“œë³„ 2024ë…„ ë§¤ì¶œ ë° ì í¬ ìˆ˜
df_korean_convenience_stores = generate_dataframe(
    "Create a dataset of the top 5 convenience store brands in Korea in 2024 with columns: Brand Name, Number of Stores, Total Revenue (in billion KRW), and Market Share (%)."
)
df_korean_convenience_stores.head()

í•œêµ­ 5ëŒ€ í¸ì˜ì  ë¸Œëœë“œë³„ 2024ë…„ ë§¤ì¶œ ë° ì í¬ ìˆ˜
{'data': [{'Brand Name': 'CU', 'Number of Stores': 15000, 'Total Revenue (in billion KRW)': 5000, 'Market Share (%)': 35.0}, {'Brand Name': 'GS25', 'Number of Stores': 14000, 'Total Revenue (in billion KRW)': 4800, 'Market Share (%)': 33.5}, {'Brand Name': '7-Eleven', 'Number of Stores': 10000, 'Total Revenue (in billion KRW)': 3000, 'Market Share (%)': 20.0}, {'Brand Name': 'Emart24', 'Number of Stores': 5000, 'Total Revenue (in billion KRW)': 1500, 'Market Share (%)': 7.5}, {'Brand Name': 'Ministop', 'Number of Stores': 3000, 'Total Revenue (in billion KRW)': 700, 'Market Share (%)': 4.0}]}

ğŸ”¹ Generated DataFrame:

,Brand Name,Number of Stores,Total Revenue (in billion KRW),Market Share (%)
0,CU,15000,5000,35.0
1,GS25,14000,4800,33.5
2,7-Eleven,10000,3000,20.0
3,Emart24,5000,1500,7.5
4,Ministop,3000,700,4.0

### PydanticOutputParser

In [1]:
from langchain_openai import ChatOpenAI
from langchain_core.prompts import ChatPromptTemplate
from langchain.output_parsers import PydanticOutputParser

from pydantic import BaseModel, Field
from typing import List

In [2]:
# ì¶œë ¥ êµ¬ì¡°ë¥¼ ì •ì˜í•˜ëŠ” Pydantic ëª¨ë¸
class MovieRecommendation(BaseModel):
    movie_title: str = Field(description="ì¶”ì²œ ì˜í™” ì œëª©")
    reason: str = Field(description="ì¶”ì²œ ì´ìœ ")
    genre: List[str] = Field(description="ì˜í™” ì¥ë¥´")
    estimated_rating: float = Field(description="10ì  ë§Œì ì—ì„œ ì˜ˆìƒ í‰ì ")
    
# Pydantic ì¶œë ¥ íŒŒì„œ ì´ˆê¸°í™”
parser = PydanticOutputParser(pydantic_object=MovieRecommendation)

# í”„ë¡¬í”„íŠ¸ í…œí”Œë¦¿ ì„¤ì •
template = """
ë‹¤ìŒ ì‚¬ìš©ì ìš”ì²­ì— ë”°ë¼ ì˜í™”ë¥¼ ì¶”ì²œí•´ì£¼ì„¸ìš”.
ìš”ì²­: {query}

{format_instructions}
"""

prompt = ChatPromptTemplate.from_template(template)

# íŒŒì„œì˜ ì§€ì‹œì‚¬í•­ì„ í”„ë¡¬í”„íŠ¸ì— ì£¼ì…
prompt = prompt.partial(
    format_instructions=parser.get_format_instructions()
)

# ChatOpenAI ëª¨ë¸ ì´ˆê¸°í™”
#model = ChatOpenAI(temperature=0.7, model="gpt-3.5-turbo")
model = ChatOpenAI(
    #api_key=OPENAI_API_KEY,
    base_url="https://api.groq.com/openai/v1",  # Groq API ì—”ë“œí¬ì¸íŠ¸
    model="meta-llama/llama-4-scout-17b-16e-instruct",  # Spring AIì™€ ë™ì¼í•œ ëª¨ë¸
    temperature=0.7
)

# ì²´ì¸ êµ¬ì„± ë° ì‹¤í–‰
query = "1990ë…„ëŒ€ í´ë˜ì‹í•œ ëŠë‚Œì˜ ê³µí¬ ì˜í™” ì¶”ì²œí•´ì¤˜"
chain = prompt | model | parser
output = chain.invoke({"query": query})

# ê²°ê³¼ ì¶œë ¥
print(f"ì¶”ì²œ ì˜í™”: {output.movie_title}")
print(f"ì¶”ì²œ ì´ìœ : {output.reason}")
print(f"ì¥ë¥´: {', '.join(output.genre)}")
print(f"ì˜ˆìƒ í‰ì : {output.estimated_rating}/10")

ì¶”ì²œ ì˜í™”: The Sixth Sense (1999)
ì¶”ì²œ ì´ìœ : 1990ë…„ëŒ€ ëŒ€í‘œì ì¸ ì‹¬ë¦¬ ê³µí¬ ì˜í™”ë¡œ, ë°˜ì „ ê²°ë§ì´ ì¸ìƒì ì…ë‹ˆë‹¤.
ì¥ë¥´: Mystery, Thriller, Horror
ì˜ˆìƒ í‰ì : 8.5/10